* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 1fr 50px;

    overflow-y: scroll;
}

header {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: rgb(202, 229, 252);

    display: grid;
    grid-template-columns: subgrid;

}

.inner-header {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
}

main {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;

    padding: 10px;
    background-color: rgb(255, 245, 230);
}

footer {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgb(202, 229, 252);
}
p {
   padding: 10px 0;
}

h1, h2 {
    padding: 10px 0;
}

table {
    width: 100%;
    background-color: aliceblue;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: rgb(167, 214, 255);
}

tr:nth-child(odd) {
    background-color: aquamarine;
}

tr:hover {
    background-color: cornflowerblue;
}

td:hover {
    background-color: rgb(41, 108, 231);
}

form {
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.text-input-group {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.box-input-group {
    display: flex;
    flex-flow: row;
}

.box-input-group div {
    min-width: 40%;
    display: flex;
    flex-flow: column wrap;
    align-content: start;
}

.check {
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
}

fieldset {
    padding: 20px;
    margin: 10px 0;
}

label {
    padding-top: 10px;
}

input, select {
    height: 2rem;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
}

input:hover, select:hover {
    border: 1px solid paleturquoise;
}
input:focus, select:focus {
    outline: none;
    border: 1px solid paleturquoise;
    background-color: azure;
}

button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
}

button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

nav {
    width: 120px;
    text-align: center;
}

nav ul {
    display: flex;
    flex-flow: column wrap;
}

nav li {
    flex: 1;
    list-style: none;
    color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
nav li:last-child {
    border-bottom: none;
}

nav a {
    display: block;
    color: rgb(78, 78, 78);
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: rgb(169, 214, 253);
}