body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    background-color: skyblue;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px;
}

header h1 {
    grid-column-start: 2;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    background-color: slategray;
    color: whitesmoke;
    border-radius: 4px;
    padding: 5px
}

header nav ul li a {
    color:antiquewhite;
    text-decoration: none;
}