html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px auto 100px;
    row-gap: 10px;
}

header {
    display: grid;
    background-color: skyblue;
    grid-template-columns: 20% 60% 20%;
    grid-column-start: span 3;
}

header h1 {
    grid-column-start: 2;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    grid-column-start: 3;
    display: flex;
    justify-content: end;
}

header nav ul {
    list-style: none;
    margin: auto 0;
    padding-right: 10px;
    width: 150px;
}

header nav ul li {
    background-color: slategray;
    color: whitesmoke;
    border-radius: 4px;
    margin: 2px;
}

header nav ul li:hover {
    background-color: rgb(79, 90, 102);
}

header nav ul li:active {
    background-color: rgb(53, 60, 68);
}

header nav ul li a {
    display:block;
    padding: 5px;
    color:antiquewhite;
    text-decoration: none;
    text-align: center;
}

footer {
    grid-column-start: span 3;
    grid-row-start: 3;
    text-align: center;
    background-color: skyblue;
    margin-top: 50px;
    height: 50px;
}


main {
    padding: 10px;
    grid-column-start: 2;
    background-color: white;
}

main article img {
    float: right;
    padding: 10px;
}

aside {
    grid-column-start: 3;
    margin-left: 30px;
}

aside ul {
    margin: 0;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

aside h2 {
    margin: 0px;
    text-align: center;
    border-left: 10px solid rgb(54, 172, 219);
    background-color: skyblue;
    
}

